<section id="accordian" class=" container " >

<div class="accordian">
    <ul>
		<li>
			<div class="image_title">
				<a href="https://www.youtube.com/channel/UCXTfDJ60DBmA932Du6B1ydg">KungFu Panda</a>
			</div>
			<a href="https://www.youtube.com/channel/UCXTfDJ60DBmA932Du6B1ydg">
				<img src="http://thecodeplayer.com/uploads/media/3yiC6Yq.jpg"/>
			</a>
		</li>
		<li>
			<div class="image_title">
				<a href="https://www.youtube.com/channel/UCXTfDJ60DBmA932Du6B1ydg">Toy Story 2</a>
			</div>
			<a href="https://www.youtube.com/channel/UCXTfDJ60DBmA932Du6B1ydg">
				<img src="http://thecodeplayer.com/uploads/media/40Ly3VB.jpg"/>
			</a>
		</li>
		<li>
			<div class="image_title">
				<a href="https://www.youtube.com/channel/UCXTfDJ60DBmA932Du6B1ydg">Wall-E</a>
			</div>
			<a href="https://www.youtube.com/channel/UCXTfDJ60DBmA932Du6B1ydg">
				<img src="http://thecodeplayer.com/uploads/media/00kih8g.jpg"/>
			</a>
		</li>
		<li>
			<div class="image_title">
				<a href="#">Up</a>
			</div>
			<a href="https://www.youtube.com/channel/UCXTfDJ60DBmA932Du6B1ydg">
				<img src="http://thecodeplayer.com/uploads/media/2rT2vdx.jpg"/>
			</a>
		</li>
		<li>
			<div class="image_title">
				<a href="#">Cars 2</a>
			</div>
			<a href="https://www.youtube.com/channel/UCXTfDJ60DBmA932Du6B1ydg">
				<img src="http://thecodeplayer.com/uploads/media/8k3N3EL.jpg"/>
			</a>
		</li>
	</ul>
</div>
</section>
