<!-- Header -->
<header class="masthead">
  <div class="row">
    <div class="col-lg-12">
      <div class="container">
        <%#=image_tag 'cirque', class: " bg-cover w-100"%>

        <div class="intro-text text-left mr-5">
          <div class="intro-lead-in">Welcome To Our Studio!</div>
          <div class="intro-heading text-uppercase">Party Time</div>
          <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">Tell Me More</a>
        </div>
      </div>

    </div>
  </div>
</header>
