<div class="t-l-wrapper">
  <div class="t-l-container">
    <h2 class="t-l-page-title">Tickets Concept</h2>
    <div class="row">

      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="card h-100">
          <%= image_tag "aloe_blacc.jpg", class: "card-img-top" %>
          <div class="card-body">
            <div class="t-l-ticket-card">
              <div class="t-l-cover">
                <img src="http://s28.postimg.org/p916fev0t/week.jpg" alt=""/>

                    <div class="t-l-info">
                    <div class="t-l-going">
                      <i class="fas fa-ticket-alt">
                        <%# <%= event.event_tickets %>
                        </i>
                      </div>
                      <div class="t-l-tickets-left ">
                        <i class="fas fa-dollar-sign ">
                          Valor</i>
                      </div>
                    </div>
                </div>
                <div class="t-l-body">
                  <div class="t-l-artist">
                    <h6 class="t-l-info">Global Tour 2016</h6>
                    <h4 class="t-l-name">The Weeknd</h4>
                  </div>
                  <div class="t-l-price">
                    <div class="t-l-from">From</div>
                    <div class="t-l-value">
                      <b>$</b>599
                    </div>
                  </div>

                  <div class="clearfix"></div>
                  <div class="t-l-info">
                    <p class="t-l-location">
                      <i class="fa fa-map-marker"></i>
                      Barcelona, Spain
                    </p>
                    <p class="t-l-date">
                      <i class="fa fa-calendar"></i>
                      30 Aug, 2016
                    </p>
                  </div>
                  <div class="clearfix"></div>
                </div>
                <div class="collapse">
                  <ul class="t-l-list-unstyled">
                    <li>
                      <div class="t-l-ticket">
                        <h5>Basic Ticket<br>
                          <small>25 Tickets left</small>
                        </h5>
                      </div>
                      <div class="t-l-price">
                        <div class="t-l-value">
                          <b>$</b>599</div>
                      </div>
                      <a href="#" class="btn t-l-btn-info btn-sm t-l-btn-buy">Buy Now!</a>
                    </li>
                    <li>
                      <div class="t-l-ticket">
                        <h5>Regular Ticket<br>
                          <small>15 Tickets left</small>
                        </h5>
                      </div>
                      <div class="t-l-price">
                        <div class="t-l-value">
                          <b>$</b>799</div>
                      </div>
                      <a href="#" class="btn t-l-btn-info btn-sm t-l-btn-buy">Buy Now!</a>
                    </li>
                    <li>
                      <div class="t-l-ticket">
                        <h5>Premium Ticket<br>
                          <small>62 Tickets left</small>
                        </h5>
                      </div>
                      <div class="t-l-price">
                        <div class="t-l-value">
                          <b>$</b>1,299</div>
                      </div>
                      <a href="#" class="btn t-l-btn-info btn-sm t-l-btn-buy">Buy Now!</a>
                    </li>
                    <li>
                      <div class="t-l-ticket">
                        <h5>VIP Ticket<br>
                          <small>6 Tickets left</small>
                        </h5>
                      </div>
                      <div class="t-l-price">
                        <div class="t-l-value">
                          <b>$</b>1,799</div>
                      </div>
                      <a href="#" class="btn t-l-btn-info btn-sm t-l-btn-buy">Buy Now!</a>
                    </li>
                  </ul>
                </div>
                <div class="footer">
                  <button class="btn t-l-toggle-tickets">Show Tickets</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
