<div class="py-5">

<div class="container pt-5 ">
  <div class="text-center">

    <h1>New Order</h1>
  </div>
<div class="row">
  <div class="col-md-2">

  </div>
  <div class="col-md-8">


    <%= render 'form', order: @order %>

    <%= link_to 'Back', orders_path %>

  </div>
</div>
<div class="col-md-2">

</div>
</div>


</div>
