<section class="page-section">
  <div class="container">
    <%= render "shared/headerEvent" %>
  </div>
</section>

<section class="page-section">

<div class="container">
  <div class="row">
    <div class="col-xl-12 d-flex">

      <%= render "shared/accordion"%>
    </div>
  </div>
</div>
</section>

  <%= render "shared/contact" %>
