<section class="services" id="services">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="services-circle">
              <div class="services-subcircle" data-circle-index="0"><i class="fas fa-user-tie"></i>
              </div>
              <div class="services-subcircle active" data-circle-index="1"><i class="far fa-id-card"></i>
              </div>
              <div class="services-subcircle" data-circle-index="2"><i class="fas fa-charging-station"></i>
              </div>
              <div class="services-subcircle" data-circle-index="3"><i class="far fa-building"></i>
              </div>
              <div class="services-subcircle" data-circle-index="4"><i class="fas fa-brain"></i>
              </div>
              <div class="services-subcircle" data-circle-index="5"><i class="fas fa-box-open"></i>
              </div>
              <div class="services-subcircle" data-circle-index="6"><i class="fas fa-award"></i>
              </div>
              <div class="services-subcircle" data-circle-index="7"><i class="fas fa-archive"></i>
              </div>
              <div class="services-content-wrapper">
                <div class="services-content-item"><span class="title"><a class="underlined-link" href="./service-detail.html">PERSONNEL IMPROVEMENT</a></span>
                  <p class="description">
                     Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                </div>
                <div class="services-content-item active"><span class="title"><a class="underlined-link" href="./service-detail.html">BRANDING</a></span>
                  <p class="description">
                     Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                </div>
                <div class="services-content-item"><span class="title"><a class="underlined-link" href="./service-detail.html">HIGH TECHNOLOGY</a></span>
                  <p class="description">
                     Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                </div>
                <div class="services-content-item"><span class="title"><a class="underlined-link" href="./service-detail.html">CORPORATE WORK</a></span>
                  <p class="description">
                     Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                </div>
                <div class="services-content-item"><span class="title"><a class="underlined-link" href="./service-detail.html">PROFESSIONAL SKILLS</a></span>
                  <p class="description">
                     Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                </div>
                <div class="services-content-item"><span class="title"><a class="underlined-link" href="./service-detail.html">QUICK SUPPORT</a></span>
                  <p class="description">
                     Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                </div>
                <div class="services-content-item"><span class="title"><a class="underlined-link" href="./service-detail.html">CUSTOMER HAPPINESS</a></span>
                  <p class="description">
                     Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                </div>
                <div class="services-content-item"><span class="title"><a class="underlined-link" href="./service-detail.html">HIGH PRODUCTIVITY</a></span>
                  <p class="description">
                     Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
